.password__main {
    margin-top: 7rem;
}

.password__container {
    background-color: hsl(263, 88%, 50%);
    padding-inline: 1rem;
    max-width: 400px;
    /* height: 800px; */
    padding-block: 1rem;
    border-radius: .475rem;
}

.password__container h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

.password__container div {
    display: flex;
    justify-content: space-between;
}

.password__container label {
    color: #fff;
    font-size: 1.1rem;
}

.password__container input[type="text"] {
    width: 50px;
    height: 20px;
}

.generated__password {
    height: 40px;
    width: 100%;
    background-color: hsl(263, 88%, 30%);
    margin-bottom: 1.7rem;
}